<table id="music-library-table" class="table table-hover align-middle" style="width: 100%">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Artist</th>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for album in music %}
        <tr>
            <td class="text-center align-middle expand" data-id="{{ album.albumId }}" data-artist="{{ album.artist }}" data-title="{{ album.title }}">
                <i class="bi bi-plus-circle-fill fs-5 text-success info-open" data-id="{{ album.albumId }}"></i>
                <i class="bi bi-dash-circle-fill fs-5 text-danger info-close" style="display: none"></i>
            </td>
            <td class="text-center align-middle"><img src="/resources/music/{{ album.image }}_sm.jpg" alt="cover" loading="lazy"/></td>
            <td class="align-middle">{{ album.artist }}</td>
            <td class="align-middle">{{ album.title }}</td>
            <td class="text-center align-middle">{{ album.year }}</td>
            <td class="align-middle">{{ album.genre }}</td>
            <td class="text-center align-middle"><button class="btn btn-sm btn-outline-primary add-album" data-id="{{ album.albumId }}">Add Album</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>