{% set section = 'photos' %}

<div id="large-photo">
    <img src="/resources/pictures/{{ photo.directory }}/{{ photo.filename }}" alt="{{ photo.title }}">
</div>
<div class="photo-details">
    <div class="row">
        <div class="col-11">
            <h2 class="text-primary">{{ photo.title }}</h2>
            <h4 class="text-dark-emphasis">{{ photo.town }}, {{ photo.country.name }}</h4>
        </div>
        <div class="col-1 fave-wrapper">
            <i class="bi bi-heart-fill photo-fave" data-toggle="tooltip" title="{{ trans('photos.fave_text') }}" data-uuid="{{ photo.uuid }}"></i>
            {% if(photo.faveCount > 0) %}
                {{ photo.faveCount }}
            {% endif %}
        </div>
    </div>
    <hr>
    {% if photo.description %}
        <div class="row">
            <div class="col-12">
                <p>{{ photo.description|raw }}</p>
            </div>
        </div>
    {% endif %}
    <div class="comments-wrapper" data-section="photo">
        {{ include('common/CommentsForm.html.twig', { comments, section, icons, captcha1, captcha2, user, item }) }}
    </div>
    <div class="tags-wrapper" data-section="photo">
        {{ include('common/Tags.html.twig', { tags, section }, with_context = false) }}
    </div>
</div>
