{% set section = 'photos' %}

<div id="large-photo">
    <img src="/resources/pictures/{{ photo.directory }}/{{ photo.filename }}" alt="{{ photo.title }}">
</div>
<div class="photo-details">
    <div class="row">
        <div class="col-10">
            <h2 class="text-primary">{{ photo.title }}</h2>
            <h4 class="text-dark-emphasis">{{ photo.town }}, {{ photo.country.name }}</h4>
        </div>
        <div class="col-2 text-end">
            <div class="photo-share-wrapper d-inline-block position-relative">
                    <i class="bi bi-link-45deg photo-action-button photo-share-toggle"
                       aria-haspopup="true"
                       aria-expanded="false"
                       title="{{ trans('photos.share_text') }}"></i>

                <div class="photo-share-popup text-start" role="menu" aria-hidden="true">
                    <label for="photo-direct-link">Direct link</label>
                    <div class="input-group input-group-sm">
                        <input id="photo-direct-link" type="text" value="{{ directUrl }}" readonly class="form-control">
                        <button class="btn btn-outline-secondary photo-share-copy-button" title="Copy">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                    <label for="photo-context-link">Context link</label>
                    <div class="input-group input-group-sm">
                        <input id="photo-context-link" type="text" value="{{ contextUrl }}" readonly class="form-control">
                        <button class="btn btn-outline-secondary photo-share-copy-button" title="Copy">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
            <i class="bi bi-heart-fill photo-action-button photo-fave {% if isUserFave %}faved{% endif %}"
               data-toggle="tooltip"
               title="{{ trans('photos.fave_text') }}"
               data-uuid="{{ photo.uuid }}"></i>
            {% if(photo.faveCount > 0) %}
                {{ photo.faveCount }}
            {% endif %}
        </div>
    </div>
    <hr>
    {% if photo.description %}
        <div class="row">
            <div class="col-12">
                <p>{{ photo.description|raw }}</p>
            </div>
        </div>
    {% endif %}
    <div class="comments-wrapper" data-section="photo">
        {{ include('common/CommentsForm.html.twig', { comments, section, icons, captcha1, captcha2, user, item }) }}
    </div>
    <div class="tags-wrapper" data-section="photo">
        {{ include('common/Tags.html.twig', { tags, section }, with_context = false) }}
    </div>
</div>
